{{define "_footer"}}
</section>
<footer class="body" id="content-info">
<h2>
<a href="/">many.pw</a>
</h2>
<div class="dashboard">
<ul class="cols">
<li>
<h3>Contact</h3>
<p>
© Andrew Arrow<br/>
oneone [at] gmail<br/>
+1 424-210-7829
</p>
</li>
        {{if ne .email ""}}
        <li>
        <p>
        you are logged in as {{.email}}
        <br/>
        <a href="#" onclick="event.preventDefault(); logOut();">Log Out</a>
        <form id="out" method="POST" action="/logout"> </form>
        <script>
        function logOut() {
          document.getElementById("out").submit();
        }
        </script>
        </p>
        </li>
        {{end}}
</ul>
</div>
</footer>
</main>

</body>
</html>
{{end}}
