{{define "_footer"}}
</section>
<footer class="body" id="content-info">
<h2>
<a href="/">many.pw</a>
</h2>
<div class="dashboard">
<ul class="cols">
<li>
<h3>Contact</h3>
<p>
          © Andrew Arrow<br/>
        oneone [at] gmail</p>
<p>+1 424-210-7829</p>
</li>
</ul>
</div>
</footer>
</main>



<!--
  </p>

  <div class="container-fluid themed-container">
                  +1 (424) 210-7829
                  <br/>
                  &copy; 2022 many.pw
                  <br/>
                  oneone at gmail
  </div>
  <div>
          <a href="/login">Login</a>
  </div>
  <div>
          <a href="/how-it-works">How It Works</a>
  </div>


<div>
        {{if ne .email ""}}
        <br/>
        you are logged in as {{.email}}
        <br/>
        <a href="#" onclick="event.preventDefault(); logOut();">Log Out</a>
        <form id="out" method="POST" action="/logout"> </form>
        <script>
        function logOut() {
          document.getElementById("out").submit();
        }
        </script>
        {{end}}
</div>


</main>


    
  </body>
</html>
-->
{{end}}
