{{define "_footer"}}
    <br/>
    <br/>
    <br/>
    <br/>
  <div class="container-fluid themed-container">
                  +1 (424) 210-7829
                  <br/>
                  &copy; 2022 many.pw
                  <br/>
                  oneone at gmail
  </div>
  <div>
          <a href="/login">Login</a>
  </div>
  <div>
          <a href="/how-it-works">How It Works</a>
  </div>
</main>


    
  </body>
</html>
{{end}}
