{{define "_header"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta name="description" content="many possible worlds">
<link href="/assets/favicon.png" rel="icon" type="image/png"/>
<title>Many Possible Worlds! | many.pw</title>
<link href="/assets/style.css?ran=4" rel="stylesheet"/>
    <style>
      ul.menu {list-style-type: none; margin: 0; padding: 0;}
      ul.menu li {display: inline;}
      div.good-links a {text-decoration: none; color: #110011;}
      div.item {padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #CECECE;}
      div.today {background-color: rgb(255, 255, 222);}
      div.small {font-size: 0.8em; color: rgb(128, 128, 128);}
      input { font-size: 1.0em; padding: 5px 5px 5px 5px; }
    </style>
  </head>
<body class="low">
<main>
        <header class="top">
        <h1><a href="/">Many Possible Worlds!</a></h1>
        <div class="subtitle">
                Your guide from science to woo-woo; there are many worlds out there!
        </div>
        <nav id="menu">
        <div id="menu-s"></div>
        <ul id="menu-list">
        <li><a href="/">Home</a></li>
        <li class="low"><a class="category" href="/how-it-works">How It Works</a></li>
        <li class="low"><a class="category" href="/survey">Take Survey</a></li>
        <li class="low"><a class="category" href="/login">Login</a></li>
        </ul>
        </nav>

        <div id="lang-dot" title="en">
               * 
        </div>
        </header>

{{template "_flash" .}}

<section class="article" id="content">
<header>
<div class="submenu">
        Consciousness

<div class="translations">
        Bliss
</div>

</div>
</header>
{{end}}
