{{template "_header" .}}
<h2 class="entry-title">Add World</h2>
<div class="entry-content">

    <p>
      <form method="POST" action="/add-world">
              <p>
        <input type="text" name="q" placeholder="search phrase"/>
              </p>
              <p>
        <input type="submit" value="Add World"/>
              </p>
      </form>
    </p>
</div>

{{template "_footer" .}}
