{{template "_header" .}}
<h2 class="entry-title">Add Video</h2>
<div class="entry-content">

    <p>
      <form method="POST" action="/add-video">
              <p>
        <input type="text" name="id" placeholder="id"/>
              </p>
              <p>
        <input type="submit" value="Add Video"/>
              </p>
      </form>
    </p>
</div>

{{template "_footer" .}}
