{{template "_header" .}}
<h1 class="entry-title">Channels</h1>

        <ul class="cols">
                <li><a href="/channels">Latest</a></li>
                <li>&nbsp;</li>
                <li>|</li>
                <li>&nbsp;</li>
                <li><a href="/channels?sort=vc">View Count</a></li>
        </ul>

<div class="featured">
    {{ range $l := .latest }}
        <ul class="cols">
        <li>
        <p><a href="/channel/{{$l.Id}}"><img border="1" width="176" height="176" src="{{$l.ImageUrl}}"/></a></p>
        </li>
        <li>
           <p>
           <strong>{{$l.Title}}</strong>
           published
  <a href="/video/{{$l.ExampleVideoId}}">{{ $l.ExampleVideoTitle}}</a>  
           </p>
        </li>
        <li>
           <p>
  {{ deltaAgo $l.ExampleVideoPublishedAt}} ago

           </p>
        </li>
        <li>
                <p> {{$l.SubscriberCount}} subscriber(s).  </p>
                <p> {{$l.ViewCount}} total channel view(s).  </p>
                <p> {{$l.VideoCount}} total channel video(s).  </p>
        </li>
        </ul>
    {{ end }}
</div>

{{template "_footer" .}}
