{{template "_header" .}}
<h1 class="entry-title">How It Works</h1>
<div class="entry-content">

    <p>
    Non-Duality is not an easy thing to explain how it works.
    You are not the separate individual self you experience yourself to be 
    AND the sense of separation that you feel is artificial.
    </p>
    <p>
    This definition comes from <a href="https://many.pw/channel/UCLOhIv9ro2hyePb4Fvh96JQ">Kenneth Madden</a>
    one of the many channels on this site. Another favorite channel of mine is
    <a href="https://many.pw/channel/UCuCvRv7jZAy1AdPa21_kOFw">Matias De Stefano</a> and there are many
    <a href="https://many.pw/channels">others</a>.
    </p>
    <p>
    Each channel has a collection of videos. On the video page there is sometimes highlighted text.
    For example <a href="https://many.pw/video/_E8jQStwfDY">this one from #elevate</a> has the text:
    </p>
    <p class="highlight">
    7:24 All you have to worry about is getting up every day and assessing your heart. Declaring your heart is open; open to experience, open to blessing, open to growth.
    </p>
    <p>
    The seven colon twenty-four isn't a bible chapter and verse it's a timecode for where in the video this text is spoken.
    As I'm watching these videos usually one particular line will stop me in my tracks and make me want to write it down.
    </p>

</div>
<h1 class="entry-title">Technology</h1>
<div class="entry-content">

        <p>
        We use <a href="https://go.dev/">golang</a> and <a href="https://github.com/gin-gonic/gin">gin</a> with 
        <a href="https://pkg.go.dev/html/template">golang html templates</a> and <a href="https://github.com/go-redis/redis/">go-redis</a> to insert and query redis.
        </p>
</div>
<h1 class="entry-title">Why Build This?</h1>
<div class="entry-content">
        <p>
        I'm constantly watching Non-Duality videos for my own education and wanted to keep notes in an
        organized way others could use.
        </p>
        <p>
        You can follow 
        <a href="https://www.youtube.com/watch?v=su3wNhwFrWI&list=PLYKF2S-XiFac9-maP75ptkbcn-JWka5vN">the video blog</a>
        of this site's creation process.
        </p>
</div>
{{template "_footer" .}}
    
