{{template "_header" .}}

<body class="py-4">
    
<main>
  <div class="container">

    <div class="good-links">
      <h1><a href="/">many.pw</a></h1>
    </div>
    <p class="lead">Many Possible Worlds!</p>

    <h1>How It Works</h1>

    <p>
    There are many possible worlds out there and many.pw tries to surface them.
    </p>



{{template "_footer" .}}
