{{template "_header" .}}
<h1 class="entry-title">Our Favorites</h1>

<div id="featured">
        <ul class="cols">
        <li>
            <p><a href="https://www.youtube.com/c/satyogainstitute"><img width="176" height="176" src="https://yt3.ggpht.com/ytc/AKedOLQL4fk3XNNEL1Kwz0-MV0WxtqM4H2soBwRo7XFetw=s176-c-k-c0x00ffffff-no-rj"/></a></p>
        </li>
        <li>
           <p>
           Robert Shubow (aka Shunyamurti) has a unique ability to explain the ego and how to break free from it.
           Example video is <a href="https://www.youtube.com/watch?v=-ZoeL8ECNaA">The Ego Has Become Psychotic - Shunyamurti Classic Teaching</a> from Jun 16, 2022.
           </p>
        </li>
        <li>
           <p>
           This channel is mainly just Shunyamurti speaking but is more than a one person channel. This is from an organization
           called the <a href="https://www.satyoga.org/">Sat Yoga Institute</a> in Costa Rica. It is an ashram, retreat center, and spiritual community you can visit
           or join.
           </p>
        </li>
        <li>
           <p>
           Over 1,000 videos, updates two or three times a week with new content.
           </p>
        </li>
        </ul>

        <ul class="cols">
        <li>
          <p><a href="https://www.youtube.com/c/AaronAbke"><img width="176" height="176" src="https://yt3.ggpht.com/XusZP7miy5QtrAk1dGBqlny4KRrYynlJkc4NTK6gz5MU8TsigKv9m-bAQEmJ0TInU67Dwkgc=s176-c-k-c0x00ffffff-no-rj"/></a></p>
        </li>
        <li>
           <p>
           Aaron Abke is the son of a traditional Christian preacher. He was raised in that environment, went on to become a personal trainer working at Google before having a Spiritual Awakening that changed his view of traditional Christianity.
           </p>
        </li>
        <li>
           <p>
           A great example video is <a href="https://www.youtube.com/watch?v=kFBFFOGwJ5w">The Key to Graduating 3rd Density</a>
           from June 16, 2022 with Kyle Cease. Aaron is an expert in <a href="https://www.lawofone.info/">The Law of One</a> and
           <a href="https://acim.org/">ACIM</a>.
           </p>
        </li>
        <li>
           <p>
           Over 1,000 videos, updates about once a week to every other week.
           </p>
        </li>
        </ul>
</div>

<div class="dashboard">
</div>
<div class="dashboard">
    <a href="https://www.youtube.com/channel/UCcZ3_IRyKOuL0H8niA1qYrw"><img width="176" height="176" src="https://yt3.ggpht.com/ETzCDjx3sxrdfEbYuHVRBSrUzx80AaACXrU2dlvON2OFBO3JKzRjhXdiczpTZ5TQ91Kjn4kNEg=s176-c-k-c0x00ffffff-no-rj"/></a>
</div>


<h1 class="entry-title">Our Worlds</h1>
{{ range $w := .worlds }}
<div class="entry-content">
    <p>
      <a href="/w/{{$w.Slug}}">{{$w.Title}}</a>
    </p>
</div>
{{end}}
{{template "_footer" .}}
