{{template "_header" .}}
<main>
        <header class="top">
        <h1><a href="/">Many Possible Worlds!</a></h1>
        <div class="subtitle">
                Your guide from science to woo-woo; there are many worlds out there!
        </div>
        <nav id="menu">
        <div id="menu-s">
              menu
            </div>
        <ul id="menu-list">
        <li><a href="/">Home</a></li>
        <li class="low"><a class="category" href="/how-it-works">How It Works</a></li>
        <li class="low"><a class="category" href="/login">Login</a></li>
        </ul>
        </nav>

        <div id="lang-dot" title="en">
               * 
        </div>
        </header>

<section class="article" id="content">
<header>
<div class="submenu">
Left Side

<div class="translations">
        Right Side
</div>

</div>
<h1 class="entry-title">Our Worlds</h1>
</header>
<div class="entry-content">

              {{.body}}

{{template "_footer" .}}
