{{template "_header" .}}

<body class="py-4">
    
<main>
  <div class="container">

    <div class="good-links">
      <h1><a href="/">many.pw</a></h1>
    </div>
    <p class="lead">Many Possible Worlds!</p>

    <div>
      <form method="POST" action="/login">
              <p>
        <input type="input" name="email" placeholder="email"/>
              </p>
              <p>
        <input type="input" name="password" placeholder="password"/>
              </p>
              <p>
        <input type="submit" value="Login"/>
              </p>
      </form>
    </div>


{{template "_footer" .}}
