{{template "_header" .}}
<h2 class="entry-title">Login</h2>
<div class="entry-content">

    <p>
      <form method="POST" action="/login">
              <p>
        <input type="text" name="email" placeholder="email"/>
              </p>
              <p>
        <input type="password" name="password" placeholder="password"/>
              </p>
          <p>
            <input type="checkbox" id="cookies1" name="cookies" value="1">
            <label for="cookies1">I agree to cookie use.</label>
          </p>
              <p>
        <input type="submit" value="Login"/>
              </p>
      </form>
    </p>
</div>
    
<h2 class="entry-title">Register</h2>
<div class="entry-content">
    <p>
      <form method="POST" action="/register">
              <p>
        <input type="text" name="email" placeholder="email"/>
              </p>
          <p>
            <input type="checkbox" id="cookies2" name="cookies" value="1">
            <label for="cookies2">I agree to cookie use.</label>
          </p>
              <p>
        <input type="submit" value="Create Account"/>
              </p>
      </form>
    </p>


</div>
{{template "_footer" .}}
