{{template "_header" .}}
<h2 class="entry-title">Channel</h2>
<div class="entry-content">

    <p>
            Welcome to the site! Your email and password are:
    </p>
    <p>
            {{.email}}
    </p>
    <p>
            {{.password}}
    </p>

    <p>
           If you lose where you stored this password, contact us to reset it.
    </p>

</div>
{{template "_footer" .}}
