{{template "_header" .}}

<main>
  <div class="container">

    <div class="good-links">
      <h1><a href="/">many.pw</a></h1>
    </div>
    <p class="lead">Many Possible Worlds!</p>

    <div>
            Welcome to the site! Your email and password are:
    </div>
    <div> &nbsp; </div>
    <div>
            {{.email}}
    </div>
    <div>
            {{.password}}
    </div>

    <div> &nbsp; </div>
    <div>
           If you lose where you stored this password, contact us to reset it.
    </div>


{{template "_footer" .}}
