{{template "_header" .}}
<h1 class="entry-title">Video</h1>

<div class="featured">
        <ul class="cols">
        <li>
        <p>
        <a href="https://www.youtube.com/watch?v={{.v.Id}}"><img border="1" width="320" height="180" src="{{.v.ImageUrl}}"/></a>
        </p>
        </li>
        <li>
           <p>
           <a href="https://www.youtube.com/watch?v={{.v.Id}}">{{.v.Title}}</a>
           </p>
        </li>
        <li>
           <p>
           </p>
        </li>
        <li>
        </li>
        </ul>
</div>

{{ if .prev }}
<div class="featured">
<h1 class="entry-title">Previous</h1>
    <a href="/video/{{.prev.Id}}">{{.prev.Title}}</a>
</div>
{{ end }}

{{ if .next }}
<div class="featured">
<h1 class="entry-title">Next</h1>
    <a href="/video/{{.next.Id}}">{{.next.Title}}</a>
</div>
{{ end }}


<h1 class="entry-title">Channel</h1>

<div class="featured">
        <ul class="cols">
        <li>
        <p><a href="/channel/{{.c.ChannelId}}"><img border="1" width="176" height="176" src="{{.c.ImageUrl}}"/></a></p>
        </li>
        <li>
           <p>
           <a href="/channel/{{.c.ChannelId}}">{{.c.ChannelTitle}}</a>
           </p>
        </li>
        <li>
           <p>

           </p>
        </li>
        <li>
        </li>
        </ul>
</div>

{{template "_footer" .}}
