{{template "_header" .}}
<h1 class="entry-title">{{ .world }}</h1>

<h2>Pinned</h2>
{{ range $p := .pinned }}
  <div class="entry-content">
    <p>
    <a href="/c/{{$.slug}}/{{$p.Id}}">{{$p.Title}}</a>
    </p>
  </div>
{{ end }}

<h2>Fresh</h2>
{{ range $f := .fresh }}
  <div class="entry-content">
    <p>
    <a href="/c/{{$.slug}}/{{$f.Id}}">{{$f.Title}}</a> with {{$f.SubscriberCount}} sub(s)
    <br/>
    {{ deltaAgo $f.PublishedAt}} ago
    </p>
  </div>
{{ end }}

<h2>Next</h2>
  <div class="entry-content">
<p>
<a href="?offset={{$.offset}}">Load Next 50</a>
</p>
  </div>


{{template "_footer" .}}
