{{template "_header" .}}
<h1 class="entry-title">{{ .world }}</h1>

<h2>Pinned</h2>
{{ range $p := .pinned }}
  <div class="entry-content">
    <p>
    <a href="/c/{{$.slug}}/{{$p.Id}}">{{$p.Title}}</a>
    </p>
  </div>
{{ end }}

<h2>Fresh</h2>
<div class="featured">
    {{ range $f := .fresh }}
        <ul class="cols">
        <li>
                <p><a href="/"><img border="1" width="176" height="176" src="{{$f.ImageUrl}}"/></a></p>
        </li>
        <li>
           <p>
                <a href="/c/{{$.slug}}/{{$f.Id}}">{{$f.Title}}</a>
           </p>
        </li>
        <li>
           <p>
    {{ deltaAgo $f.PublishedAt}} ago
           </p>
        </li>
        <li>
                <p> {{$f.SubscriberCount}} subscriber(s).  </p>
        </li>
        </ul>
    {{ end }}
</div>

<h2>Next</h2>
  <div class="entry-content">
<p>
<a href="?offset={{$.offset}}">Load Next 50</a>
</p>
  </div>


{{template "_footer" .}}
